<template>
  <Layout>
    <Hero id="top" />
    <Content :content="$page.frontpage.the_firm" id="the_firm" class="pt-21 pb-21" />
    <ImageSection :imageSection="$page.frontpage.section_image_one" />
    <Content :content="$page.frontpage.approach" id="approach" class="pt-21" />
    <Service class="pt-21" />
    <Industries id="industries" class="pt-21" />
    <Transactions id="transactions" class="pt-21" />
    <ImageSection :imageSection="$page.frontpage.section_image_two" />
    <div id="partners" class="pt-21">
        <div class="container">
            <h3 class="section-heading">Partners</h3>
            <p>Our leadership team has worked at the best firms in the world, including Morgan Stanley and UBS Investment Bank.<br/>They each have over 20 years of investment banking experience, including extensive international dealmaking.</p>
            <PartnersHome />
        </div>
    </div>
    <Experience class="pt-15" />
    <ImageSection :imageSection="$page.frontpage.section_image_three" id="csr" />
    <Contact id="contact" />
  </Layout>
</template>

<script>
import Hero from '~/components/Hero.vue'
import ImageSection from '~/components/ImageSection.vue'
import Content from '~/components/Content.vue'
import Industries from '~/components/Industries.vue'
import Transactions from '~/components/Transactions.vue'
import PartnersHome from '~/components/PartnersHome.vue'
import Experience from '~/components/Experience.vue'
import Contact from '~/components/Contact.vue'
import Service from '~/components/Service.vue'

export default {
  components: {
    Hero,
    ImageSection,
    Content,
    Industries,
    Transactions,
    PartnersHome,
    Experience,
    Contact,
    Service
  },
  metaInfo: {
    title: 'Home'
  }
}
</script>

<page-query>
query PageHome {
  frontpage (path: "/"){
    the_firm{
      heading
      text
      image
    }
    approach{
      heading
      text
      image
    }
    section_image_one{
        heading
        cover_image (quality: 100)
        text
        layout
    }
    section_image_two{
        heading
        cover_image (quality: 100)
        text
        layout
    }
    section_image_three{
        heading
        text
        cover_image (quality: 100)
        layout
    }
  }
}
</page-query>

<style lang="scss">

  #approach{
    .align-items--center{
      align-items: flex-end;
    }

    .g-image{
      /* padding-left: 3rem; */
      margin-bottom: 3.8rem;

      @media (max-width: $screen-md) {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }
</style>