<template>
  <PartnersLayout>
      <div class="partners-topbar" id="toped">
          <ul class="breadcrumbs">
            <li>Partners:</li>
            <li><g-link to="/partners/mark-tashkovich">MARK TASHKOVICH</g-link></li>
            <li><g-link to="/partners/johan-dahl-en">JOHAN DAHLÉN</g-link></li>
          </ul>
          <div class="container container--small">
              <g-image immediate="true" :src="$page.partners.image" />
              <div class="content">
                  <h3 class="heading" v-html="$page.partners.title" />
                  <span class="position" v-html="$page.partners.position" />
                  <strong>Prior Experience</strong>
                    <ul>
                        <li>{{$page.partners.experience_1}}</li>
                        <li>{{$page.partners.experience_2}}</li>
                        <li>{{$page.partners.experience_3}}</li>
                        <!-- <li v-for="experience in $page.partners.experience" :key="experience">{{$page.partners.experience}}</li> -->
                    </ul>
                    <div class="contact">
                        <a class="mail" v-if="$page.partners.mail" :href="$page.partners.mail" aria-label="Mail"><font-awesome class="icon" :icon="['fas', 'envelope']"/></a>
                        <a class="linkedin" v-if="$page.partners.linkedin" :href="$page.partners.linkedin" aria-label="Linkedin"><font-awesome class="icon" :icon="['fab', 'linkedin']"/></a>
                    </div>
              </div>
          </div>
      </div>
      <div class="container container--small">
        <main v-html="$page.partners.content" />
      </div>
  </PartnersLayout>
</template>

<script>

import PartnersLayout from '~/layouts/PartnersLayout.vue'

export default {
  components: {
    PartnersLayout
  },
  metaInfo: {
    title: 'Home'
  }
}
</script>

<page-query>
query Partner ($path: String!) {
	partners (path: $path) {
    title
    image
    path
    mail
    linkedin
    position
    content
    experience_1
    experience_2
    experience_3
    id
  }
}
</page-query>

<style lang="scss">

.partners-topbar{
    background-color: $light-gray-light;
    padding: 10rem 0;
    margin-top: 6rem;
    position: relative;

    .breadcrumbs{
      @include list-style-none;
      position: absolute;
      top: 10rem;
      left: $gutter;
      font-size: 1.2rem;
      font-weight: 300;
      li{
        padding: .3rem 0;
        letter-spacing: 0.8px;
        &:first-child{
          text-transform: uppercase;
        }
        a{
          font-weight: 500;
          color: inherit;
          border-bottom: solid 1px;
          border-color: transparent;
          &.active--exact{
            border-color: $black;
          }
        }
      }
      @media screen and (max-width: $screen-lg) {
        position: relative;
        top: -5rem;
        left: 0;
        display: flex;
        width: $screen-sm;
        max-width: 90%;
        margin: auto;
        li{
          padding-right: 1.5rem;
        }
      }
    }

    .container{
        display: flex;
        @media screen and (max-width: $screen-xs) {
          display: block;
        }

        img{
          width: 29.5rem;
          height: 32.2rem;
          object-fit: cover;
          object-position: 50% 50%;
        }

        .content{
            padding-left: $gutter;
            @media screen and (max-width: $screen-xs) {
              padding-left: 0;
              padding-top: $gutter;
            }

            .heading{
                margin-top: 0;
                margin-bottom: .2em;
                text-transform: uppercase;
                font-size: 2.8rem;
            }

            .position{
              font-size: 1.8rem
            }

            strong{
              display: block;
              margin-top: 2rem;
            }

            ul{
              margin: 0;
              padding-left: 1.5rem;
            }

            .contact{
                margin-top: 1rem;
                display: flex;
                align-items: center;
            
                a{
                    padding-right: .5rem;
                    color: #aaa;
                    font-size: 2rem;
                    &:first-child{
                        font-size: 2.2rem
                    }
                }
            }
        }
    }

}

main{
    padding: 5rem 0 10rem;
    
    h4{
        color: $primary;
    }
}

</style>