<template>
    <section class="content">
      <div class="container">
        <div class="grid align-items--center">
          <div class="span-6 span-md-12">
              <h3 class="section-heading" v-if="content.heading" v-html="content.heading" />
              <p v-if="content.text" v-html="content.text" />
          </div>
          <div v-if="content.image" class="span-6 span-md-12">
            <g-image class="respnosive-img" immediate="true" quality="100" v-if="content.image" :src="content.image" :alt="content.heading" />
          </div>
        </div>
      </div>
    </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>

