<template>
    <section class="contact pt-15 pb-15">
        <div class="container">
            <div class="grid">
                <div class="info span-5 span-sm-12 pr-6">
                    <h4 class="section-heading">Contact</h4>
                    <p>
                        Alta Capital Partners
                    </p>
                    <p>
                        <a href="tel:12123084509">+1 212 308 4509</a><br/>
                        <a href="mailto:inquiries@altacp.com">inquiries@altacp.com</a>
                    </p>
                    <p>
                        32 East 57th Street, 12th Floor<br>
                        New York, NY 10022
                    </p>
                </div>
                 <div class="map span-7 span-sm-12">
                     <a target="_blank" href="https://www.google.com/maps/place/32+E+57th+St+12th+Floor,+New+York,+NY+10022,+USA/@40.7618922,-73.9742345,17z/data=!3m1!4b1!4m5!3m4!1s0x89c258fac67bc0e7:0xca70eff7e65e11ca!8m2!3d40.7618922!4d-73.9720405"><img src="/uploads/maps.jpg" alt="google map"></a>
                </div> 
            </div>
        </div>
    </section>
</template>



<style lang="scss" scoped>

.contact{
    font-size: 2rem;

    a{
        color: inherit;
    }
   
   .map{
        position: relative;
        padding-bottom: 70%;
        height: 45rem;
        overflow: hidden;

       a{
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }

       }
   }
}

</style>