<template>
    <section class="experience">
        <div class="container">
            <p class="h4">OUR EXPERIENCE BY THE NUMBERS</p>
            <div class="experience-wrapper">
                <div class="item">
                    <span class="number">100+</span>
                    <p>Transactions Completed</p>
                </div>
                <div class="item">
                    <span class="number">25+</span>
                    <p>M&A Deal Volume<span>USD Billions</span></p>
                </div>
                <div class="item">
                    <span class="number">>75</span>
                    <p>Capital Raised<span>USD Billions</span></p>
                </div>
                <div class="item">
                    <span class="number">30+</span>
                    <p>Initial Public Offerings</p>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>

.experience{
    text-align: center;
    color: $primary;

    &-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $gutter * 2;
        margin-top: 5rem;
        margin-bottom: 23rem;
        @media screen and (max-width: $screen-sm) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $screen-xs) {
            display: block;
        }

        .item{
            position: relative;
            padding: 3rem 0;
            &:after{
                content: "";
                width: 1px;
                height: 100%;
                background-color: $black;
                position: absolute;
                top: 0;
                right: -$gutter;
            }
            &:last-child:after{
                display: none;
            }
            @media screen and (max-width: $screen-sm) {
                &:nth-child(even):after{
                    display: none;
                }
            }

            @media screen and (max-width: $screen-xs) {
                border-bottom: solid 1px $black;
                &:last-child{
                    border-bottom: none;
                }
                &:after{
                    display: none;
                }
            }

            .number{
                font-size: 6.6rem; 
            }

            p{
                color: #4A4A4A;
                font-size: 1.4rem;

                span{
                    display: block;
                    font-size: 1rem;
                }
            }
        }
    }
}

</style>