<template>
    <section class="hero">
        <g-image class="image" src="../assets/images/video-image.png" immediate="true" width="1200" fill="cover" quality="60" alt=""/>
        <div class="container">
            <div class="hero__content">
                <img src="../assets/images/ALTACAPITALPARTNERS.svg" alt="Alta Capital Partners">
            </div>
        </div>
        <video class="hero__video" muted="muted" autoplay loop="loop" playsinline="" preload="auto">
            <source src="../assets/images/acp_video.mp4" type="video/mp4">
        </video>
    </section>
</template>

<style lang="scss" scoped>

.hero{
    --hero-height: 82rem;
    --hero-heding-size: 7rem;
    @media screen and (max-width: $screen-sm) {
       --hero-height: 70vh;
       --hero-heding-size: 5rem;
    }

    .image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    overflow: hidden;
    position: relative;
    color: $white;
    margin-top: 6rem;
    // background-image: url('../assets/images/video-image.png');
    background-color: $white;
    background-size: cover;
    // &:after{
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: $primary;
    //     z-index: 1;
    //     mix-blend-mode: multiply;
    //     opacity: .2;
    // }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 82rem;
        @media screen and (max-width: $screen-sm) {
            height: 70vh;
        }
    }


    &__content{
        position: relative;
        z-index: 2;
        text-align: center;

        img{
            max-width: 100%;
            height: auto;
        }

        h1{
            font-size: var(--hero-heding-size);
            text-transform: uppercase;
        }

    }

    &__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
}

</style>