<template>
    <section class="image-section" :class="imageSection.layout">
        <div class="container">
            <div class="content">
                <h2 class="heading" v-html="imageSection.heading" />
                <p class="text" v-if="imageSection.text" v-html="imageSection.text" />
            </div>
        </div>
        <img class="image" loading="lazy" v-if="imageSection.cover_image" :src="imageSection.cover_image" :alt="imageSection.heading"/>
        <!-- <img class="image" v-if="imageSection.cover_image" :src="imageSection.cover_image" :alt="imageSection.heading">
        <g-image class="image" immediate="true"  v-if="imageSection.cover_image" :src="imageSection.cover_image" :alt="imageSection.heading" /> -->
    </section>
</template>

<script>
export default {
  props: {
    imageSection: {
      type: Object,
      required: true
    }
  }
}
</script>


<style lang="scss" scoped>

.image-section{

    &.style-1{

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 56vw;
            position: relative;
            z-index: 2;
            @media (max-width: $screen-sm) {
                height: 50rem;
            }
        }

        .content{
            
            .heading{
                font-size: 6.9rem;
                text-transform: none;
                font-weight: 400;
                color: $white;
                /* -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: $white; */
                margin: 0;
                @media screen and (max-width: $screen-sm) {
                    font-size: 5rem;
                    text-align: center;
                }
            }

        }
        
    }

    &.style-2{

        .container{
            display: flex;
            height: 56vw;
            position: relative;
            z-index: 2;

            @media (max-width: $screen-sm) {
                height: 65rem;
            }
        }

        .content{
            padding-top: 18rem;
            width: 50%;
            @media screen and (max-width: $screen-lg) {
                padding-top: 10rem;
                width: 80%;
            }
            @media screen and (max-width: $screen-sm) {
                width: 100%;
                padding-top: 5rem
            }
            
            .heading{
                font-size: 1.6rem;
                text-transform: uppercase;
                position: relative;
                display: inline-block;
                color: $white;
                margin-top: 0;
                margin-bottom: 2em;
            }

            .text{
                font-weight: 400;
                letter-spacing: 2.5px;
            }

        }

        
    }
    width: 100%;
    position: relative;
    color: $white;

    .image{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

</style>