<template>
    <section class="industries">
        <div class="container">
            <h3 class="section-heading mb-3">Industries</h3>
            <div class="item" v-for="edge in $static.allIndustries.edges" :key="edge.node.id">
                <div class="content" :style="`background-color:${edge.node.bg_color}`">
                    <h2 class="heading" v-if="edge.node.title" v-html="edge.node.title" />
                    <div class="text" v-if="edge.node.content" v-html="edge.node.content" />
                </div>
                <g-image class="image" immediate="true" v-if="edge.node.cover_image" :src="edge.node.cover_image" :alt="edge.node.title"/>
            </div>
        </div>
    </section>
</template>

<static-query>
query Industries {
  allIndustries (sortBy: "date", order: ASC){
    edges{
      node{
        title
        text
        cover_image (quality: 100)
        bg_color
        id
        date
        content
      }
    }
  }
}
</static-query> 

<style lang="scss">

.text{
    
    ul{
        margin: 0;
        padding: 0;
    }          
    
}

</style>

<style lang="scss" scoped>



.industries{
    --flex-order: row-reverse;
    --flex-direction: row;
    --width: 50%;
    --height: 34.5rem;
     @media screen and (max-width: $screen-sm) {
        --flex-order: column;
        --flex-direction: column;
        --width: 100%;
        --height: 34.5rem;
    }

    .item{
        display: flex;
        flex-direction: var(--flex-direction);
        color: $white;
        
        position: relative;
        &:nth-child(odd){
            flex-direction: var(--flex-order);
        }
        &:hover{

            .content{
                .heading{
                    display: none;
                }

                .text{
                    display: block;
                }
            }
        }


        .content{
            width: var(--width);
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: var(--height);
            padding: $gutter;

            .heading{
                margin: 0;
                font-size: 2.8rem;
                color: $white;
            }

         

            .text{
                margin: 0;
                display: none;
                text-align: left;
                font-size: 2rem;
                
                
                
            }


        }

        .image{
            width: var(--width);
            flex-grow: 1;
            object-fit: cover;
            max-width: 100%;
            height: var(--height);
        }
    }
}

</style>