<template>
    <div class="partners">
        <div class="item" v-for="edge in $static.allPartners.edges" :key="edge.node.id">
            <img class="image" :src="edge.node.image" :alt="edge.node.title">
            <!-- <g-image class="image" immediate="true" v-if="edge.node.image" :src="edge.node.image" :alt="edge.node.title" /> -->
            <div class="content">
                <p class="heading h3" v-if="edge.node.title" v-html="edge.node.title" />
                <span class="position" v-if="edge.node.position" v-html="edge.node.position" />
                <g-link class="btn btn--small btn--primary" :to="edge.node.path">Learn More</g-link>
                <div class="contact">
                    <a class="mail" aria-label="Mail" v-if="edge.node.mail" :href="edge.node.mail" target="_blank"><font-awesome class="icon" :icon="['fas', 'envelope']"/></a>
                    <a class="linkedin" aria-label="Linkedin" v-if="edge.node.linkedin" :href="edge.node.linkedin" target="_blank"><font-awesome class="icon" :icon="['fab', 'linkedin']"/></a>
                </div>
            </div>
        </div>
    </div>
</template>

<static-query>
query Partners {
  allPartners{
    edges{
      node{
        title
        image
        path
        mail
        linkedin
        position
        id
      }
    }
  }
}
</static-query> 

<style lang="scss" scoped>

.partners{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gutter;

    .item{
        display: grid;
        grid-template-columns: 30rem 1fr;
        grid-gap: $gutter;
        @media screen and (max-width: $screen-xs) {
            grid-template-columns: 1fr;
        }

        .image{
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            
            @media screen and (max-width: $screen-xs) {
                width: 100%;
                flex-grow: 1;
                /* margin-bottom: $gutter; */
            }
        }

        .content{

            .heading{
                margin-top: 0;
                margin-bottom: .3em;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2.8rem;
            }

            .position{
                display: block;
                margin-bottom: 2rem;
                font-size: 1.6rem;
            }

            .contact{
                margin-top: 1rem;
                display: flex;
                align-items: center;
            
                a{
                    margin-top: .5rem;
                    padding-right: .5rem;
                    color: #aaa;
                    font-size: 2rem;
                    line-height: 0;
                    &:first-child{
                        font-size: 2.2rem
                    }
                }
            }
        }

    }
}

</style>