<template>
    <section id="service" class="service">
        <div class="container">
             <h3 class="section-heading">Services</h3>
             <p>We offer a full range of M&A and financing services:</p>
            <div class="service-wrapper mb-3">
                <div class="item">
                    <div class="top" v-bind:class="{ active: showFirst }" @click="showFirst = !showFirst">
                        <h3>M&A</h3>
                    </div>
                    <transition name="fade">
                    <div class="content" v-if="showFirst">
                        <ul>
                            <li>Sell side</li>
                            <li>Acquisitions</li>
                            <li>Buy side</li>
                            <li>Divestitures</li>
                            <li>Domestic</li>
                            <li>Mergers</li>
                            <li>Cross border</li>
                            <li>Joint ventures</li>
                        </ul>
                    </div>
                    </transition>
                </div>
                <div class="item">
                    <div class="top" v-bind:class="{ active: showSecond }" @click="showSecond = !showSecond">
                        <h3>Financing</h3>
                    </div>
                    <transition name="fade">
                    <div class="content" v-if="showSecond">
                        <ul>
                            <li>Equity</li>
                            <li>Growth capital</li>
                            <li>Debt</li>
                            <li>Acquisition financings</li>
                            <li>Private</li>
                            <li>Leveraged buyouts</li>
                            <li>Public</li>
                            <li>Initial public offerings</li>
                        </ul>
                    </div>
                    </transition>
                </div>
            </div>
            <a class="btn btn--small btn--primary" href="mailto:inquiries@altacp.com">Contact Us</a>
        </div>
        
    </section>
</template>

<script>
export default {
 name: 'service',
 data() {
     return {
         showFirst: false,
         showSecond: false
     }
 }

}
</script>


<style lang="scss" scoped>

.fade-enter-active {
  transition: opacity .3s;
}

.fade-enter {
  opacity: 0;
}

.service{
   
   .item{
       border-top: solid 1px $black;
       width: 60.18rem;
       max-width: 100%;
       &:last-child{
           border-bottom: solid 1px $black;
       }
       .top{
           &.active{
            &:before{
                display: none;
           }
           }

           height: 8rem;
           position: relative;
           display: flex;
           align-items: center;
           cursor: pointer;
           &:after{
               content: "";
               width: 2.5rem;
               height: 1px;
               background-color: $black;
               position: absolute;
               top: 50%;
               right: 0;
           }
            &:before{
               content: "";
               width: 1px;
               height: 2.5rem;
               background-color: $black;
               position: absolute;
               top: 50%;
               right: calc(2.5rem / 2);
               transform: translateY(-50%);
           }

           h3{
               margin: 0;
               font-size: 2.8rem;
           }
       }

       .content{
           padding-bottom: $gutter;

           ul{
               display: grid;
               grid-template-columns: .65fr 1fr;
               margin: 0;
                font-size: 2rem;
           }
       }

   }
}

</style>