<template>
    <footer class="footer">
        <div class="container">
            <div class="top">
                <img class="logo" src="../assets/images/logo-white.png" alt="ALTA CAPITAL PARTNERS">
<!--                <div class="tt">-->
<!--                    <a class="text-link" target="_blank" href="https://www.finra.org/"></a>-->
<!--                    <a class="img-link" target="_blank" href="https://www.sipc.org/"></a>-->
<!--                </div>-->
            </div>
            <div class="bottom">
                <p>32 East 57th Street, 12th Floor, New York, NY 10022  / +1 212 308 4509 / <a href="mailto:inquiries@altacp.com">inquiries@altacp.com</a></p>
              <strong>Securities offered through AlphaSource Capital Securities, LLC. Member <a target="_blank" href="https://www.finra.org/" class="text-link"><u>FINRA</u></a>, <a target="_blank" href="https://www.sipc.org/" class="img-link"><u>SIPC</u></a>.</strong>
                <div class="copyright">
                    <p>© 2020 Alta Capital Partners International, LLC. All rights reserved.<br/>No affliiation with The Alta Group.<br/>Powered by hellospace.io</p>
                    <div class="follow-us">
                        <span>Follow us</span><a aria-label="Linkedin" target="_blank" href="https://www.linkedin.com/company/alta-capital-partners/"><img src="../assets/images/footer-linkedin-icon.png" alt="linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>


<style lang="scss" scoped>

.footer{
    width: 100%;
    background-color: $primary;
    color: $white;

    .top{
        padding-top: 38.6rem;
        display: flex;
        align-items: flex-end;
        border-bottom: solid 1px $white;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        .heading{
            flex-grow: 1;
            margin: 0;
            font-size: 2rem;
        }

        .tt{
            display: flex;
            align-items: center;

        }

        .text-link{
            color: #fff;
            display: inline-block;
            padding-bottom: 5px;
        }

        > div{
            margin-left: auto;

            

            img{
                height: 2.8rem;
                width: auto;
                padding-left: 2rem;

                &:first-child{
                    margin-bottom: .3rem;
                }
            }
        }

        .logo{
            width: 20rem;
            height: auto;
            flex-grow: 0;
            padding-bottom: .7rem;
        }
    }

    .bottom{
        font-size: 1.2rem;
        padding-bottom: 2rem;

        a{
            color: inherit;
        }
        strong{
            color: rgba($white, .4);
        }

        .copyright{
            color: rgba($white, .4);
            padding-top: 4.4rem;
            display: flex;
            align-items: center;
            @media screen and (max-width: $screen-sm) {
                display: block;
            }

            .follow-us{
                margin-left: auto;
                color: $white;
                display: flex;
                align-items: center;
                @media screen and (max-width: $screen-sm) {
                    padding-top: 2rem;
                }

                span{ 
                    padding-top: .1em;
                }

                a{
                    color: $white;
                    display: flex;
                    align-items: center;
                    // .icon{
                    //     margin-left: 1rem;
                    //     font-size: 2.3rem;
                    // }

                    img{
                        width: 2.4rem;
                        height: auto;
                        border: 1px solid $white;
                        padding: .3rem;
                        border-radius: 3px;
                        margin-left: 1rem;
                    }

                }
            }
        }
    }
   
}

</style>