<template>
    <section class="transactions pb-23">
        <div class="container">
           <h3 class="section-heading mb-3">Featured transactions</h3>
           <div class="item" v-for="edge in $static.allTransactions.edges" :key="edge.node.id">
               <g-image class="image" immediate="true" v-if="edge.node.cover_image" :src="edge.node.cover_image" :alt="edge.node.title"/>
               <div class="content">
                   <h4 class="heading" v-if="edge.node.title" v-html="edge.node.title" />
                   <p class="text" v-if="edge.node.text" v-html="edge.node.text" />
                   <img class="logo" loading="lazy" v-if="edge.node.logo" :src="edge.node.logo" :alt="edge.node.title"/>
               </div>
           </div>
        </div>
    </section>
</template>

<static-query>
query Transactions {
  allTransactions (sortBy: "date"){
    edges{
      node{
        title
        text
        id
        logo
        cover_image (quality: 100)
        date (format: "MMM Do YYYY")
      }
    }
  }
}
</static-query> 

<style lang="scss" scoped>

.transactions{
  
  .item{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        grid-gap: $gutter;
        margin-bottom: $gutter * 2;
        &:last-child{
          margin-bottom: 0;
        }

        .image{
            width: 100%;

        }
        .content{

            .heading{
                margin: 0;
                font-size: 2rem;
                margin-bottom: 1.2em;
            }

            .logo{
                margin-top: 2rem;
                height: auto;
                width: auto;
                max-width: 100%;
            }
        }

      
  }
}

</style>