@import "sass/var";
@import "sass/breakpoints";
@import "sass/mixins";
@import "sass/color";
@import "sass/type";
@import "sass/spacing";
@import "sass/grid.scss";
@import "sass/keyframes";
@import "sass/btn";



$min_width: 320px;
$max_width: 1000px;
$min_font: 8px;
$max_font: 10px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection{
    background-color: $primary;
    color: $white;
}


html{
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  @media screen and(max-width: $screen-xs){
    font-size: 9px;
  }
}

body{
  margin: 0;
  padding: 0;
  color: $text-color;
  line-height: 1.6;
  font-family: $base-font;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: $white;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

main{
  padding-bottom: 15rem;
}


.container{
    @include container;

    &--small{
      width: 768px;
    }
}

.d{
    
  &--block{
      display: block;
  }

  &--inline{
      display: inline;
  }

  &--inline-b{
      display: inline-block;
  }

  &--flex{
      display: flex;
  }

  &--grid{
      display: grid;
  }
}

.align-items{

  &--start{
      align-items: flex-start;
  }

  &--center{
      align-items: center;
  }

  &--end{
      align-items: flex-end;
  }
  
}

.t-align{

  &--left{
    text-align: left;
  }

  &--center{
    text-align: center;
  }

  &--right{
    text-align: right;
  }

}

a{
  text-decoration: none;
  color: primary;
}

.opc{

  &-7{
    opacity: .7;
  }
  &-5{
    opacity: .5;
  }
  &-3{
    opacity: .3;
  }
}

.section-heading{
  font-family: $heading-font;
  font-size: 1.6rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  color: $primary;
  // &:after{
  //   content: "";
  //   width: 100%;
  //   height: 1px;
  //   background-color: $black;
  //   position: absolute;
  //   left: 0;
  //   bottom: -.4rem;
  // }
}

.respnosive-img{
  max-width: 100%;
  display: block;
}

// html {
//   scroll-behavior: auto;
// }