<template>
  <div class="layout" id="toppdd">
    <TheHeader />
      <slot />
    <TheFooter />
    <div class="go-to-top">
      <a href="#top">Go to top</a>
    </div>
  </div>
</template>


<script>
  import TheHeader from '~/components/TheHeader';
  import TheFooter from '~/components/TheFooter';
  
  export default {
    components: {
      TheHeader,
      TheFooter
    }
  };
</script>

<style lang="scss">

    .go-to-top{
        background-color: $white;
        padding: 2rem 0;
        text-align: center;

        a{
          color: $medium-gray-dark;
          text-transform: uppercase;
          font-size: 1.2rem;
        }

    }
</style>