<template>
  <div class="layout">
    <header class="header-partners">
      <g-link class="logo" to="/"><img src="../assets/images/logo.png" :alt="$static.metaData.siteName"></g-link>
      <g-link class="back" to="/">Go Back</g-link>
    </header>
        <slot />
    <TheFooter />
    <div class="go-to-top">
      <a href="#toped">Go to top</a>
    </div>
  </div>
</template>


<script>
  import TheFooter from '~/components/TheFooter';
  
  export default {
    components: {
      TheFooter
    }
  };
</script>


<static-query>
query {
  metaData {
    siteName
  }
}
</static-query>


<style lang="scss" scoped>

.header-partners{
    color: $black;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: $white;
    display: flex;
    align-items: center;
    height: 6rem;
    padding: 0 $gutter;

  .logo{
    
    img{
      width: 16rem;
    }
  }

  .back{
      margin-left: auto;
      color: $black;
  }

}

</style>