.btn{
    padding: .4em 1.8em;
    color: $white;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all .2s ease-in;
    letter-spacing: .74px;

    &--primary{
        background-color: $primary;
        border: solid 2px $primary;
        color: $white;
    }

    &--secondary{
        border: solid 2px $light-gray-light;
        color: $light-gray-light;
        font-weight: 500;
    }

    &--dark{
        background-color: #111;
        border: solid 2px #111;
        // &:hover&:after{
            
        // }
    }

    &--large{
        font-size: 1.4rem;
    }

    &--small{
        font-size: 1.2rem;
    }

    

    
}
.btn.basket{
    


    // position: relative;
    // &:after{
    //     position: absolute;
    //     content: "ss";
    //     background-image: url('/images/basket-light.svg');
    //     background-repeat: no-repeat;
    //     background-size: .6rem;
    //     width: 1em;
    //     height: 1em;
    //     right: 0;

    // }
}