$primary: #2755A8;
$primary-dark: #E7611B;
$primary-light: #F97732;

$secondary: #F7B432;
$tertiary: #243F4E;

$white: #fff;
$light-gray-light: #F8F8F8;
$light-gray-dark: #EEE6DF;
$medium-gray-light: #999;
$medium-gray-dark: #4F4237;
$dark-gray-light: #3C2C1F;
$dark-gray-dark: #1C1C1C;
$black: #000;

$text-color: #4A4A4A;