@mixin list-style-none{
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin container{
    margin: 0 auto;
    width: $container-width;
    max-width: 90%;
}

@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }