@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/helvetica_neue_regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/helveticaneue_medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/helvetica_neu_bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'HelveticaNeueNew';
//     src: url('../assets/fonts/HelveticaNeue.ttf') format('ttf');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }

$base-font: "HelveticaNeue","Roboto",-apple-system,BlinkMacSystemFont,"Oxygen","Ubuntu","Segoe UI","Cantarell","Fira Sans","Droid Sans",sans-serif;
$heading-font: $base-font;

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $heading-font;
	font-weight: 700;
    color: inherit;
    line-height: 110%;
    margin-top: 1em;
    margin-bottom: 2em;
    color: #333;
    letter-spacing: .74px;
}

h1, .h1{
    font-size: 4.2rem;
}

h2, .h2{
    font-size: 3.4rem;
}

h3, .h3{
    font-size: 2.2rem;
}

h4, .h4{
    font-size: 1.6rem;
}

h5, .h5{
    font-size: 1.3rem;
}

h6, .h6{
    font-size: 1rem;
}

p{
    margin-top: 0;
    margin-bottom: 1em;
}

.text{
    &--large{
        font-size: 2rem
    }

    &--small{
        font-size: 1.2rem
    }
}